/* Top level divs */


.signame
{
	font-family: 'Open Sans', sans-serif;
	font-size:14pt;
	font-weight:bold;
}
.tilllogin
{
	background-color:#000000;
	position:relative;
	
}
h2
{
	padding:0px;
	margin:0px;
	font-size:12pt;
	font-family: 'Open Sans', sans-serif;
	color:#777;
	
}
#panel
{
	position:fixed;
	width:300px;
	height:185px;
	padding:5px;
	margin-left:-150px;
	margin-top:-150px;
	top:50%;
	left:50%;
	background-color:#ffffff;	
	vertical-align:middle;
}

#logo img
{
	width:300px;
}

#login input, #login select
{
	width:200px;
}
#login td, #login table
{
	text-align:center;
}

#page
{
	position:absolute;
	width:100%;
	height:100%;
	margin:0px;
	top:0px;
	left:0px;
}

#bkgrdimage{
	position:absolute;
	top:0px;
	left:0px;
	opacity:1;
	background:#eee;
	background-size:cover;
	width:100%;
	height:100%;
	z-index:-1;
}

#dialog
{
		position:absolute;
		padding:20px;
		border:1px solid #ddd;
		z-index:10000;
		background-color:#ffffff;
		display:none;
		box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

#dimmer
{
	position:absolute;
	top:0px;
	left:0px;
	z-index:9;
	background-color:#000000;
	opacity:0.6;
	width:100%;
	height:100%;
	display:none;
}

#alertdiv
{
	position:absolute;
	top:0px;
	left:0px;
	z-index:99999;
	background-color:#000000;
	opacity:0.8;
	width:100%;
	height:100%;
	display:none;
}

#header
{
	box-sizing: border-box;
	clear:both;
	width:100%;
	height:68px;
	background-color:#eee;
}

#signin
{
	box-sizing: border-box;
	float:left;
	width:20%;
	height:50px;
	margin-top:1px;
}

#signin td
{
	color:#777;
}
#launcher
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:15%;
	height:50px;
}

.half
{
	height:33px !important;
}

#controls
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:65%;
	height:50px;
}

#customer
{
	box-sizing: border-box;
	float:left;
	clear:both;
	width:100%;
	padding-left:5px;
}
#custsearchmaster
{
	width:29%;
	height:80px;
	float:left;
	padding-top:10px;
	padding-left:10px;
	margin-top:10px;
	margin-left:5px;
	box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
	background-color:#ffffff;
}


#custtitle
{
	box-sizing: border-box;
	float:left;
	padding-top:12px;
	font-family: 'Open Sans', sans-serif;
	vertical-align:middle;
}


#itemtitle
{
	box-sizing: border-box;
	float:left;
	clear:both;
	width:66%;
	height:25px;
/*	background-color:#fdddd1; */
	font-family: 'Open Sans', sans-serif;
	vertical-align:middle;
}
#custsearch
{
	box-sizing: border-box;
	height:50px;
}

#custdetail
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:25%;
    height:90px;
    margin-top:10px;
    box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    background-color:#ffffff;
    margin-left:5px;
    
        
}
table.custdetail td
{
	font-size:10pt;
}

#custinfo
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:14%;
    height:90px;
    margin-top:10px;
    box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    background-color:#ffffff;
    margin-left:5px;
    padding-right:45px;
}

#dunno
{
	box-sizing: border-box;
	float:left;
	clear:both;
	width:100%;
	height:150px;
}

#items
{
	box-sizing: border-box;
	float:left;
	clear:both;
	width:100%;
	padding-left:0px;
}

#itemsearch
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:100%;
	height:110px;

}

table.itemsearchtable
{
	width:100%;
	text-align:center;
}

table.itemsearchtable tr.even td
{
	color:#777;
}

.itemmeta
{
	font-size:16pt;
}

.itemsep
{
	background-color:#eee;
	height:1px;	
}

#itemsearchbox
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:29%;
	height:90px;
	z-index:100;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-left:5px;
	box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
	background-color:#ffffff;
}

#itemsearchresults
{
	box-sizing: border-box;
	float:left;
	clear:both;
	width:100%;
	position:absolute;
	top:123px;
	background-color:#ffffff;
	display:none;
	z-index:100;
	border:1px solid #9061b6;
	height:450px;
	overflow:scroll;
	box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

#bag
{
	box-sizing: border-box;
	float:left;
	clear:right;
	width:75%;
	margin-left:5px;
}

#bagitems
{
	box-sizing: border-box;
	float:left;
	clear:both;
	width:100%;
	min-height:300px;
	box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	background-color:#ffffff;
}

#totals table
{
	box-sizing:border-box;
	width:100%;
}

#totals table td
{
	font-size:14pt;
	color:#999;
		
}

#totals
{
	background-color:#ffffff;
}

#totals .totalhead
{
	font-size:14pt;
	font-weight:bold;
	color:#777;
	padding-left:10px;
}

.totalamnt
{
	color:#75469b !important;
	padding-left:10px;
}

#bagbuttons
{
	box-sizing: border-box;
	text-align:right;
	height:80px;
	float:right;
	padding-top:170px;
}

#orderclose
{
	box-sizing: border-box;
	width:24%;
	float:left;
	margin-left:5px;
	
}

#orderclosebox
{
	box-shadow:0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	background-color:#ffffff; 
	height:90px;
	min-height:300px;
}


#price
{
	text-align:left;
	font-weight:bold;
}

#price.sale
{
	color:#cb0000;
}
.section
{

}

.ajax
{
	position:absolute;
	z-index:1000;
	top:155px;
	left:565px;
	display:none;
	background-color:#9061b6;
	color:#ffffff;
	opacity:0.9;
	padding:0px;
}

.subsection
{
	/* border:1px solid #eee; */
}

input[type="radio"]
{
	width:auto !important;
}

select, input
{
	height:25px;
	width:165px;
	font-size:10pt;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 0px 3px;
  margin: 0px 0px 0px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
select option 
{
	font-size:16pt;
}

p, td, a
{
	font-size:11pt;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	vertical-align:middle;
	color:#75469b;
}

ul
{
	padding-left:15px;
	padding-right:15px;
}
a
{
	color:#bbb;
}

li
{
	list-style:none;
	font-family: 'Open Sans', sans-serif;
	font-size:14pt;
	padding-bottom:5px;
}

.inactive
{
	  opacity: 0.4;
   filter: alpha(opacity=40);
}

.itemresult
{
	font-family: 'Open Sans', sans-serif;
	font-size:13pt;
	text-align:center;
}


td.itemheader
{
	padding:5px;
	font-size:12pt;
	color:#777;
	font-weight:bold;
}

.odd
{
	background-color:#eee;
	color:#ffffff;
	
}

.even
{
	background-color:#fff;
}

.appro
{
	color:#ff0000;
}
.size
{
	width:30px;
}

.nosize
{
	width:30px;
}

.sku
{
	width:100px;
}

.colour
{
	width:90px;
}
tr.bagheader
{
	background-color:#eee;
}

td.bagheader, tr.bagheader td
{
	font-size:18pt;
	font-weight:bold;
	color:#777;
}
.bagtablehead
{
	font-size:12pt;
	color:#777;
	
}

table.totalhead
{
	background-color:#ffe;
	font-size:14pt;
}

.totalheadgrand, tr.totalheadgrant
{
	background-color:#ffe;
	font-weight:bold;
}

.totalnum, tr.totalnum
{
	text-align:right;
}

.totalnumgrand, tr.totalnumgrand
{
	text-align:right;
	font-weight:bold;
}
.openorders
{
	font-size:12pt !important;
}
.activeorder
{
	border:2px solid #ff0000 !important;
}

table.discbut td
{
	font-size:8pt;
}

table td
{
	font-family: 'Open Sans', sans-serif;
	padding-left:5px;
	padding-right:5px;
}

table th
{
	font-size:14pt;
	color:#777;
	font-family: 'Open Sans', sans-serif;

}

.totalgrand, .totalnumgrand
{
	font-size:16pt;
}


.clickable
{
	text-decoration:underline;
}

.barcodeon
{
	border:1px solid #ff0000;
}

.barcodeoff
{
	border:none;
}

#numericInput{
    position:relative;
}
#numBox{
    cursor:text;
    overflow:hidden;
}
#keypad{
    width:260px;
    height:200px;
    border:solid 1px black;
    display:none;
    left:28px;
}
.key{
    border:solid 1px black;
    background-color:#9061b6;
    text-align:center;
    font-weight:bold;
    color:white;
    cursor:pointer;
}
.key:hover{
    background-color:LightBlue;
}
.key:active{
    background-color:white;
}
.btn{
    border:solid 1px black;
    text-align:center;
    font-weight:bold;
    color:black;
    cursor:pointer;
    background-color:DimGray;
    width:33.3%;
}
.btn:hover{
    background-color:DarkGray;
}
.btn:active{
    background-color:LightGray;
}

.bankmoney
{
	text-align:right;
}

#vouchers
{
	width:500px;
	height:300px;
	display:none;
	z-index:999;
	margin:0 auto;
	position:absolute;
	background-color:#ffffff;
	top:50%;
	left:50%;
}

#depnotediv
{
	width:500px;
	height:300px;
	display:none;
	z-index:999;
	margin:0 auto;
	position:absolute;
	background-color:#ffffff;
	top:50%;
	left:50%;
}

tr.receipt td
{
	font-size:10pt;
}

.icon
{
	font-size:30pt;
}
